:root {
  --gray: #374151;
  --gray: #f9fafb;
  --bluechild: #111827;
  --graychild: #9ca3af;
  --white: #fff;
  --green: #57c14a;
  --black: #121212;
  --blue: #030712;
  --fonts: poppins, sans-serif;
  --fontschild: poppins-bold, sans-serif;
}
@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
font-face {
  font-family: poppins-bold;
  src: url(../assets/fonts/Poppins-BoldItalic.ttf);
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--fonts);
  margin: 0;
  padding: 0;
  width: 80%;
  margin: auto;
  box-sizing: border-box;
  background-color: var(--blue);
  color: var(--white);
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  /* background: var(--green);  */
}
.logo {
  position: relative;
  text-decoration: none;
  font-size: 34px;
  color: var(--white);
  font-family: var(--fontschild);
  font-weight: 900;
}
.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 0.1s;
  background-color: var(--blue);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color:var(--green) ; */
}
.menu-btn {
  display: none;
  cursor: pointer;
}

.menu-icon {
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: var(--black);
  position: relative;
  transition: background-color 0.3s ease;
}

.menu-icon:before,
.menu-icon:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333;
  position: absolute;
  transition: transform 0.3s ease;
}
.menu-icon:before {
  top: -8px;
}

.menu-icon:after {
  top: 8px;
}
.menu {
  display: flex;
  list-style: none;
}
.menu li {
  margin-left: 25px;
}

.menu a {
  text-decoration: none;
  color: var(--white);
  transition: 1s ease;
}
.menu a:hover {
  color: var(--graychild)!important;
  border-bottom: 1px solid var(--white);
}
.dowload a {
  text-decoration: none;
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px 20px;
  margin-left: 15px;
  color: var(--blue);
  transition: 1s;
}

.dowload a:hover {
  background-color: var(--bluechild);
  color: var(--white);
}

.menu-btn {
  display: none;
  cursor: pointer;
}

.menu-icon {
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: var(--black);
  position: relative;
  transition: background-color 0.3s ease;
}

.menu-icon:before,
.menu-icon:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--white);
  position: absolute;
  transition: transform 0.3s ease;
}

.menu-icon:before {
  top: -8px;
}

.menu-icon:after {
  top: 8px;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: var(--white);
  transition: color 0.3s ease;
}

.menu a:hover {
  color: var(--bluechild);
}

/* end navbar? /

/* banner */
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.banner-layout {
  width: 60%;
}
.banner-layout h1 {
  position: relative;
  font-weight: 900;
  font-size: 49px;
}
.banner-layout h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 0.2s;
  background-color: var(--blue);
}
.banner-layout svg {
  vertical-align: text-bottom;
}
.banner-layout p {
  position: relative;
  font-size: 13px;
  letter-spacing: 0.3;
  line-height: 1.5;
  opacity: 0.8;
}
.banner-layout p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 0.3s;
  background-color: var(--blue);
}

.banner-layout:nth-child(2) {
  width: 40%;
}
.banner-picture {
  width: 55%;
  height: auto;
  margin-left: auto;
}
.banner-picture img {
  border-right: 30px solid #374151;
  border-bottom: 30px solid #374151;
}
.banner-bg {
  position: absolute;
  top: 0;
  bottom: 30%;
  width: 80%;
  height: 40%;
  background-color: var(--graychild);
  z-index: -1;
}
.banner-localisation .banner-local {
  position: relative;
  margin-bottom: 10px;
}
.banner-localisation .banner-local::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 0.3s;
  background-color: var(--blue);
}

.banner-localisation .banner-local svg {
  vertical-align: text-bottom;
  transition: 1s;
}
.banner-localisation .banner-local svg:hover{
  opacity: 0.2;
}

.banner-links {
  position: relative;
  margin-top: 50px;
}
.banner-links::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
  background-color: var(--blue);
}
.banner-links svg {
  padding-left: 15px;
  transition: 0.4s;
  padding-bottom: 20px;
  transition: 1s;
}

.banner-links svg:hover{
  /* color: var(--green); */
  opacity: 0.2;
}

/* end banner */

/* about */
.about {
  background-color: var(--bluechild);
  padding: 100px 10%;
}
.about a {
  padding: 5px 2.5%;
  font-size: 15px;
  text-decoration: none;
  background-color: var(--graychild);
  border-radius: 20px;
  margin: auto;
  opacity: 0.6;
}
.about {
  text-align: center;
  padding-bottom: 0;
  letter-spacing: 1px;
}
.about .about-content {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.about-item {
  width: 50%;
}
.about-item h2 {
  font-size: 18px;
}
.about .about-content .about-item p {
  color: var(--gray);
  opacity: 0.7;
  line-height: 2;
  font-size: 10px;
  letter-spacing: 0.6;
}
.about .about-content .about-item .me {
  text-decoration: underline;
}
.about .about-content .about-item .sticker svg {
  vertical-align: text-bottom;
}
.about .about-content .about-item .cursus {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  opacity: 0.7;
  line-height: 1.5;
  font-size: 10px;
  letter-spacing: 0.6;
}

.about .about-content .about-item .cursus ul {
  padding-left: 10px;
}

.about-picture img {
  border-left: 30px solid #374151;
  border-bottom: 30px solid #374151;
  width: 70%;
}

.about-text svg {
  vertical-align: text-bottom;
  color: var(--gray);
  opacity: 0.7;
}
.about-text span {
  padding-left: 10px;
  color: var(--gray);
  opacity: 0.7;
}

/* end about */
/* skill */
.skill {
  background-color: var(--blue);
  padding-top: 55px;
  height: 60vh;
}
.skill a {
  font-size: 15px;
  text-decoration: none;
  padding: 5px 2.5%;
  background-color: var(--graychild);
  border-radius: 20px;
  opacity: 0.6;
  color: var(--white);
  margin: auto;
}
.skill p {
  text-align: center;
  padding-bottom: 0px;
  padding-top: 0;
  letter-spacing: 1px;
}
.skill-contener {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.skill-contener img {
  margin: auto;
  width: 100px;
  height: auto;
  transition: 1s;
}
.skill-contener img:hover{
  opacity: 0.4;
  cursor: pointer;
}

/* end skill */
/* experience */
.experience {
  background-color: var(--bluechild);
  padding-top: 70px;
  padding-bottom: 50px;
}
.experience a {
  font-size: 15px;
  text-decoration: none;
  padding: 5px 2.5%;
  background-color: var(--graychild);
  border-radius: 20px;
  margin: auto;
  opacity: 0.6;
  color: var(--white);
  align-items: center;
}
.experience p {
  text-align: center;
  padding-bottom: 0;
  letter-spacing: 1px;
}
.experience-container {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  height: 250px;
  margin: 0 100px;
  border-radius: 10px;
  padding-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 35px;
  transition: 1s;
}
.experience-container:hover{
  cursor: pointer;
  background-color: var(--blue);
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1);
  /* transform: scale(0.1s); */
  }
.experience-item {
  width: 100%;
}

.experience-item span {
  color: var(--green);
  font-weight: bold;
}
.experience-item h1 {
  font-size: 15px;
  padding-left: 0;
  margin-top: 0;
}
.experience-item ul li {
  color: var(--gray);
  opacity: 0.7;
  line-height: 2;
  font-size: 12px;
  letter-spacing: 0.6;
}
.experience-item p {
  padding-left: 0;
  font-size: 12px;
  margin-top: 0;
  margin: auto;
}
.experience-work ul {
  padding-left: 18px;
}
/* end experience */

/* work */
.work {
  background-color: var(--blue);
  padding-top: 70px;
  padding-bottom: 50px;
}
.work a {
  padding: 5px 2.5%;
  font-size: 15px;
  text-decoration: none;
  background-color: var(--graychild);
  border-radius: 20px;
  margin: auto;
  opacity: 0.6;
  color: var(--white);
}
.work p {
  text-align: center;
  padding-bottom: 55px;
  letter-spacing: 1px;
  padding-bottom: 0;
}
.work-container {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.work-item {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px;
  width: 60%;
  background-color: #374151;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
}
.work-item:nth-child(2) {
  background-color: #1f2937;
  border-top-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;
}
.work-item img {
  border-radius: 5px;
  width: 100%;
  height: autogi;
  transition: 1s;
}
.work-item img:hover{
  transform: scale(1.05);
}
.work-item h1 {
  font-size: 15px;
}
.work-item p {
  font-size: 11px;
  text-align: justify;
}
.work-item a {
  padding: 5px 2.5%;
  font-size: 15px;
  text-decoration: none;
  background-color: var(--graychild);
  border-radius: 20px;
  opacity: 0.6;
  color: var(--white);
  margin-left: 0;
}
/* end work */

/* testimonials */
.testimonials {
  background-color: var(--bluechild);
  padding-top: 70px;
}
.testimonials a {
  padding: 5px 2.5%;
  font-size: 15px;
  text-decoration: none;
  background-color: var(--graychild);
  width: 100%;
  border-radius: 20px;
  margin: auto;
  opacity: 0.6;
  color: var(--white);
}
.testimonials p {
  text-align: center;
  padding-bottom: 55px;
  letter-spacing: 1px;
  padding-bottom: 0;
}
.testimonials-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 35px;
  padding-bottom: 70px;
  transition: 1s;
}
.testimonials-container:hover{
  cursor: pointer;
  background-color: var(--blue);
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.9);
  /* transform: scale(0.1s); */
  }
.testimonials-item {
  padding: 35px;
  background-color: #1f2937;
  width: 20%;
  border-radius: 12px;
 
}
.testimonials-item p {
  font-size: 12.5px;
  color: var(--gray);
  opacity: 0.7;
  padding-bottom: 0;
  text-align: left;
}
.testimonials-item svg {
  width: 100%;
}
.testimonials-item h1 {
  font-size: 15px;
  text-align: center;
}
.testimonials-item .testiomonials-founder {
  color: var(--gray);
  opacity: 0.7;
  font-size: 10px;
  text-align: center;
}

/* end testimonials */

/* contact */
.contact {
  background-color: var(--blue);
  padding: 50px 80px;
}
.contact a {
  padding: 5px 10px;
  font-size: 15px;
  text-decoration: none;
  background-color: var(--graychild);
  border-radius: 20px;
  margin: auto;
  opacity: 0.6;
  color: var(--white);
}
.contact .contact-item a{
  padding: 0;
  background-color: transparent;
}
.contact p {
  font-size: 19px;
  text-align: center;
  padding-bottom: 0;
  opacity: 0.8;
  padding-top: 10px;
}
.contact-item {
  display: flex;
  justify-content: center;
}
.contact-item svg {
  padding-right: 15px;
  vertical-align: text-bottom;
  transition: 1s;
}
.contact-item svg:hover {
  opacity: 0.2;
}
.contact-item span {
  font-size: 22px;
  font-weight: 900;
}
.contact-item p {
  font-size: 14px;
  padding-top: 10px;
}
/* end contact */

/* footer */
.footer {
  display: flex;
  justify-content: center;
  background-color: var(--bluechild);
  padding: 30px 25px;
}
.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-item svg {
  vertical-align: bottom;
}
.footer-item span {
  color: 10px;
  color: var(--gray);
  opacity: 0.8;
}

/* end footer */

/* Media query
query pour les petits écrans */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
  }
  .navbar svg {
    display: none;
  }
  .dowload a {
    display: none;
    flex-direction: column;
  }

  .menu li {
    margin-left: 15px;
  }
}

/* animation keyframes */

@keyframes showRight {
  100% {
    width: 0;
  }
}
