:root {
  --gray: #374151;
  --gray: #f9fafb;
  --bluechild: #111827;
  --graychild: #9ca3af;
  --white: #fff;
  --green: #57c14a;
  --black: #121212;
  --blue: #030712;
  --fonts: poppins, sans-serif;
  --fontschild: poppins-bold, sans-serif;
}
@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
font-face {
  font-family: poppins-bold;
  src: url(../assets/fonts/Poppins-BoldItalic.ttf);
}

body {
  overflow-x: hidden;
  font-family: var(--fonts);
  margin: 0;
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  color: var(--white);
}
* {
  list-style: none;
  text-decoration: none;
}
a {
  color: inherit;
}

.navbar {
  position: fixed;
  width: 100%;
  margin: auto;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--blue);
  padding: 10px;
}

.menu-btn {
  display: none;
  cursor: pointer;
  margin: auto;
}

.menu-icon {
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: var(--white);
  position: relative;
  transition: background-color 0.3s ease;
}

.menu-icon:before,
.menu-icon:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--white);
  position: absolute;
  transition: transform 0.3s ease;
}

.menu-icon:before {
  top: -8px;
}

.menu-icon:after {
  top: 8px;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 25px;
}

.menu a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: var(--green);
  border-bottom: 2px solid var(--green);
}
.menu a.active {
  color: var(--green);
  border-bottom: 1px solid var(--green);
}
/* nav */
/* header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  /* padding: 22px 15%; */
/* border-bottom: 1px solid transparent;
  transition: all 0.45s ease;
  margin: auto;
  background-color: var(--blue); */
/* background: var(--green);  */

/*end nav */

.logo {
  position: relative;
  text-decoration: none;
  font-size: 34px;
  color: var(--white);
  font-family: var(--fontschild);
  font-weight: 900;
  margin-left: 50px;
}
.logo span {
  color: var(--green);
  font-weight: 900;
  font-family: var(--fontschild);
  font-size: 34px;
}
.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 0.1s;
  background-color: var(--blue);
}
.navlist {
  display: flex;
}
.navlist a {
  color: var(--white);
  font-size: 17px;
  margin: 0 25px;
  transition: all 0.45s ease;
  font-weight: 500;
}
.navlist a:hover {
  color: var(--green);
}
.navlist a.active {
  color: var(--green);
}
.dowload a {
  text-decoration: none;
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px 20px;
  margin-left: 15px;
  color: var(--blue);
  transition: 1s;
  margin-right: 50px;
}

.dowload a:hover {
  background-color: var(--green);
  color: var(--white);
}
#menu-icon {
  font-size: 35px;
  color: var(--white);
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

/* end navbar? /

/* banner */
.banner {
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--blue);
  overflow-y: hidden;
}
.banner-layout {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
}
.banner-content {
  width: 50%;
}
.banner-picture {
  width: 20%;
  position: relative;
  flex: 0 0 25%;
}
.banner-picture::after {
  content: "";
  width: 80px;
  position: absolute;
  height: 80px;
  border-bottom: 5px solid var(--green);
  border-right: 5px solid var(--green);
  right: -20px;
  bottom: -40px;
}
.banner-picture::after,
.banner-picture:hover{
  transform: scale(1.05);
}
.banner-picture::before {
  content: "";
  width: 80px;
  position: absolute;
  height: 80px;
  border-top: 5px solid var(--green);
  border-left: 5px solid var(--green);
  left: -40px;
  top: -25px;
  transition: 1s;
}
.banner-picture::before,
.banner-picture:hover{
  transform: scale(1.05);
}

.banner-layout h1 {
  position: relative;
  font-weight: 900;
  font-size: 35px;
}
.banner-layout h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 0.2s;
  background-color: var(--blue);
}
.banner-layout svg {
  vertical-align: text-bottom;
}
.banner-layout p {
  position: relative;
  font-size: 13px;
  letter-spacing: 0.3;
  line-height: 1.5;
  opacity: 0.8;
  text-align: justify;
}
.banner-layout p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 0.3s;
  background-color: var(--blue);
}

.banner-layout:nth-child(2) {
  width: 40%;
}
.banner-picture img {
  /* border-right: 25px solid #374151;
  border-bottom: 25px solid #374151; */
  width: 100%;
  margin: auto;
  height: auto;
}
/* .banner-bg {
  position: absolute;
  top: 0;
  bottom: 30%;
  width: 80%;
  height: 40%;
  background-color: var(--graychild);
  z-index: -1;
} */
.banner-localisation .banner-local {
  position: relative;
  margin-bottom: 10px;
}
.banner-localisation .banner-local::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 0.3s;
  background-color: var(--blue);
}

.banner-localisation .banner-local svg {
  vertical-align: text-bottom;
  transition: 1s;
}
.banner-localisation .banner-local svg:hover {
  opacity: 0.2;
}

.banner-links {
  position: relative;
  margin-top: 50px;
}
.banner-links::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
  background-color: var(--blue);
}
.banner-links svg {
  padding-left: 15px;
  transition: 0.4s;
  padding-bottom: 20px;
  transition: 1s;
}

.banner-links svg:hover {
  /* color: var(--green); */
  opacity: 0.2;
}

/* end banner */

/* about */
.about {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bluechild);
  padding-top: 50px;
  padding-bottom: 30px;
  overflow-x: hidden;
}
.about-me {
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding-top: 25px;
  margin: auto;
}
.content-section {
  width: 40%;
}
.about-title h2 {
  text-align: center;
  font-size: 19px;
}
.content p {
  font-size: 13px;
  color: var(--white);
  opacity: 0.5;
  line-height: 1.7;
  text-overflow: ellipsis;
}
.about-image {
  width: 20%;
  flex: 0 0 20%;
  position: relative;
}
.about-image::after {
  content: "";
  width: 200px;
  position: absolute;
  height: 200px;
  border-bottom: 5px solid var(--green);
  border-right: 5px solid var(--green);
  right: -20px;
  bottom: -40px;
  transition: 1s;
}
.about-image:after,
.about-image:hover{
  transform: scale(1.05);
}
.about-image::before {
  content: "";
  width: 200px;
  position: absolute;
  height: 200px;
  border-top: 5px solid var(--green);
  border-left: 5px solid var(--green);
  left: -40px;
  top: -25px;
  transition: 1s;
}
.about-image::before,
.about-image:hover{
  transform: scale(1.05);
}

.about-image img {
  width: 100%;
  height: auto;
  margin: auto;
}
/* .about-profil {
  top: 2.5rem;
  left: -0.7rem;
  z-index: 10;
} */
.about-text h2 {
  line-height: 1;
  font-size: 17px;
}
.about-text p {
  font-size: 13px;
  color: var(--white);
  opacity: 0.5;
  line-height: 1.7;
  overflow-x: hidden;
}
.about-passion {
  color: var(--green);
  font-weight: bold;
}
.about-text svg {
  vertical-align: bottom;
  margin: -5px;
}
.about-text .about-passion {
  font-weight: bold;
  color: var(--white);
}
.about a {
  padding: 8px 23px;
  font-size: 15px;
  text-decoration: none;
  background-color: var(--graychild);
  border-radius: 20px;
  opacity: 0.6;
}
.about .cursus .cursus-item {
  font-size: 13px;
  color: var(--white);
  opacity: 0.5;
  line-height: 1.7;
  padding-left: 0px;
}
.cursus .cursus-item svg {
  vertical-align: bottom;
  margin-right: 7px;
}
.cursus .cursus-item .svg-cursus {
  vertical-align: bottom;
  margin-right: 10px;
}
/* end about */

/* skill */
.skill {
  width: 100%;
  min-height: 50vh;
  background-color: var(--blue);
  padding-top: 55px;
  padding-bottom: 30px;
  margin: auto;
}
.skill a {
  font-size: 15px;
  text-decoration: none;
  padding: 5px 23px;
  background-color: var(--graychild);
  border-radius: 20px;
  opacity: 0.6;
  color: var(--white);
  margin: auto;
}
.skill p {
  text-align: center;
  padding-bottom: 0px;
  padding-top: 0;
  letter-spacing: 1px;
}
.skill-contener {
  width: 80%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* padding-left: 10px;;
  padding-top: 100px; */
  /* align-items: center; */
  /* padding-left: 100px; */
}
.skill-contener img {
  margin: auto;
  width: 100px;
  height: 100px;
  transition: 1s;
}
.skill-contener img:hover {
  opacity: 0.4;
  cursor: pointer;
}

/* end skill */
/* experience */
.experience {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bluechild);
  padding-top: 70px;
  padding-bottom: 30px;
  margin: auto;
}
.experience a {
  font-size: 15px;
  text-decoration: none;
  padding: 8px 23px;
  background-color: var(--graychild);
  border-radius: 20px;
  margin: auto;
  opacity: 0.6;
  color: var(--white);
  align-items: center;
}
.experience p {
  text-align: center;
  padding-bottom: 0;
  letter-spacing: 1px;
}
.experience-container {
  width: 76%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-around;
  background-color: #1f2937;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 35px;
  transition: 1s;
  padding-left: 15px;
  padding-right: 15px;
  transition: 1s;
}
.experience-container:hover {
  cursor: pointer;
  background-color: var(--blue);
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-8px);
  /* transform: scale(0.1s); */
}

.experience-item span {
  color: var(--green);
  font-weight: bold;
}
.experience-item h1 {
  font-size: 15px;
  padding-left: 0;
  margin-top: 0;
}
.experience-item ul li {
  color: var(--gray);
  opacity: 0.7;
  line-height: 2;
  font-size: 12px;
  letter-spacing: 0.6;
}
.experience-item p {
  font-size: 12px;
  margin-top: 0;
  margin: auto;
}
.experience-work ul li {
  padding-left: 18px;
}
/* end experience */

/* work */
.work {
  width: 100%;
  background-color: var(--blue);
  padding-top: 70px;
  padding-bottom: 30px;
  /* margin: auto; */
}
.work p a {
  padding: 8px 23px;
  font-size: 15px;
  text-decoration: none;
  background-color: var(--graychild);
  border-radius: 20px;
  opacity: 0.6;
  color: var(--white);
}
.work p {
  text-align: center;
  padding-bottom: 55px;
  letter-spacing: 1px;
  padding-bottom: 0;
}
.work-container {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 35px;
  height: auto;
  margin: auto;
  margin-top: 35px;
}
.work-item {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 35px;
  padding-left: 35px;
  width: 50%;
  height: 0;
  background: linear-gradient(0,0,0,0.1), #030712;
  background-color: #374151;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius:10px;
}
.work-tools {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.work-tools a {
  font-size: 15px;
  border-radius: 20px;
  padding: 5px 23px;
  background-color: var(--blue);
  margin-right: 10px;
  margin-top: 10px;
  transition: 1s;
}
.work-tools a:hover {
  background: var(--green);
}
.work-item:nth-child(2) {
  background-color: #1f2937;
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 10px;
  transition: opacity 1s;
}
.work-item:nth-child(2):hover {
  background: var(--bluechild);
  cursor: pointer;
}
.work-item img {
  border-radius: 5px;
  width: 100%;
  height: autogi;
  transition: 1s;
}
.work-item img:hover {
  transform: scale(1.05);
}
.work-item h1 {
  font-size: 15px;
}
.work-item p {
  font-size: 11px;
  text-align: justify;
  margin-bottom: 25px;
}
.work-links {
  padding: 5px 2.5%;
  font-size: 15px;
  text-decoration: none;
  background-color: var(--graychild);
  border-radius: 20px;
  opacity: 0.6;
  color: var(--white);
  margin: 0;
  margin-top: 15px;
}
.work-linke {
  margin-top: 20px;
}

/* testimonials */
.testimonials {
  width: 100%;
  background-color: var(--bluechild);
  padding-top: 70px;
  padding-bottom: 30px;
  /* margin: auto; */
}
.testimonials a {
  padding: 8px 23px;
  font-size: 15px;
  text-decoration: none;
  background-color: var(--graychild);
  width: 100%;
  border-radius: 20px;
  margin: auto;
  opacity: 0.6;
  color: var(--white);
}
.testimonials p {
  text-align: center;
  padding-bottom: 55px;
  letter-spacing: 1px;
  padding-bottom: 0;
}
.testimonials-container {
  display: flex;
  width: 80%;
   margin: auto;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 70px;
  transition: 1s;
}

.testimonials-item {
  padding: 35px;
  background-color: #1f2937;
  width: 25%;
  border-radius: 12px;
  transition: 1s;

}
.testimonials-item:hover {
  cursor: pointer;
  background-color: var(--blue);
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.9);
  transform: translateY(-8px);
  cursor: pointer;
}
.testimonials-item p {
  font-size: 12.5px;
  color: var(--gray);
  opacity: 0.7;
  padding-bottom: 0;
  text-align: left;
}
.testimonials-item svg {
  width: 100%;
}
.testimonials-item h1 {
  font-size: 15px;
  text-align: center;
}
.testimonials-item .testiomonials-founder {
  color: var(--gray);
  opacity: 0.7;
  font-size: 10px;
  text-align: center;
}

/* end testimonials */

/* contact */
.contact {
  background-color: var(--blue);
  padding: 50px 80px;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}
.contact a {
  padding: 8px 23px;
  font-size: 15px;
  text-decoration: none;
  background-color: var(--graychild);
  border-radius: 20px;
  margin: auto;
  opacity: 0.6;
  color: var(--white);
}
.contact .contact-item a {
  padding: 0;
  background-color: transparent;
}
.contact p {
  font-size: 19px;
  text-align: center;
  padding-bottom: 0;
  opacity: 0.8;
  padding-top: 10px;
}
.contact-item {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.contact-item svg {
  padding-right: 15px;
  vertical-align: text-bottom;
  transition: 1s;
}
.contact-item svg:hover {
  opacity: 0.2;
}
.contact-item span a {
  font-size: 25px;
  font-weight: 900;
  color: var(--white) !important;
}
.contact-item p {
  font-size: 14px;
  padding-top: 10px;
}
/* end contact */

/* footer */
.footer {
  /* display: flex;
  justify-content: center; */
  background-color: var(--bluechild);
  padding: 30px 25px;
  margin: auto;
}
.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.footer-item svg {
  vertical-align: bottom;
}
.footer-item span {
  color: 10px;
  color: var(--gray);
  opacity: 0.8;
  font-size: 12px;
}

/* end footer */

/* Media query
query pour les petits écrans */

/* .navbar */

@media (max-width: 760px) {
  .navbar {
    display: flex;
    flex-direction: row;
  }
  .menu-btn {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
  }
  .navbar svg {
    display: none;
  }
  .dowload a {
    display: none;
    flex-direction: column;
  }

  .menu li {
    margin-left: 15px;
  }
  /* .menu-icon{
    float: right;
  } */
  /* .logo {
    margin-left: -25px;
  } */
  /* .navbar */

  /* testimonials */
  .testimonials {
    padding-top: 25px;
  }
  .testimonials-container {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .testimonials-item {
    width: 70%;
    margin: auto;
    margin-top: 35px;
  }
  .testimonials p {
    font-size: 14px;
    padding-top: 20px;
  }

  /* end testimonials */

  /* contact */
  .contact {
    padding-top: 25px;
    margin: auto;
  }
  .contact p:last-child {
    font-size: 14px;
    padding-top: 20px;
  }
  .contact-item p {
    font-size: 10px;
  }
  .contact-item span a {
    font-size: 20px;
  }
  .contact-item svg {
    font-size: 15px;
  }

  /* banner */
  .banner-layout {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* margin-left: 10px;
    margin-right: 10px; */
  }
  .banner-content {
    float: none;
    width: 100%;
  }
  .banner-picture {
    float: none;
    width: 100%;
  }
  .banner-layout h1 {
    font-size: 25px;
  }

  .banner-picture::after {
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    border: none;
  }
  .banner-picture::before {
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    background: transparent;
    border: none;

  }
  /*end banner */

  /* about */
  .about {
    padding-top: 25px;
  }
  .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    /* margin-left: 10px;
    margin-right: 10px; */
    /* end about */
  }
  .content-section {
    float: bottom;
    width: 100%;
  }
  .about-image {
    float: top;
    width: 100%;
  }
  
  .about-image::after {
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    border: none;
  }
  .about-image::before {
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    background: transparent;
    border: none;
  }

  /* skill */
  .skill {
    padding-top: 25px;
  }
  .skill p {
    padding-top: 20px;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .skill-contener img {
    margin-top: 7px;
  }
  /*end skill */

  /* .experience */
  .experience {
    padding-top: 25px;
  }
  .experience p {
    font-size: 14px;
    padding-top: 20px;
  }
  .experience-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }
  .experience-item {
    width: 70%;
    margin: auto;
  }
  .experience-item p {
    text-align: left;
  }
  .experience-work {
    padding-left: 0;
  }
  .experience-work ul li {
    padding-left: 0;
  }

  /* work */
  .work {
    padding-top: 25px;
  }
  .work p {
    font-size: 14px;
    padding-top: 20px;
  }
  .work-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    border-radius: 8px;
  }
  .work-item {
    width: 80%;
    margin: auto;
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius:0px;
  }
  .work-item:nth-child(2) {
    width: 80%;
    margin: auto;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius:0px;
  }

  .work-item img {
    width: 100%;
    margin: auto;
  }
  .experience-work ul li {
    padding-left: 0;
  }

  .work-links {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
  }
  .work-links a {
    padding: 5px 20px;
    font-size: 15px;
  }
  /* work */
}
/* animation keyframes */

@keyframes showRight {
  100% {
    width: 0;
  }
}
